---
const products = [
  {
    name: "Zapatillas Deportivas",
    description: "Comodidad y rendimiento para tus entrenamientos",
    price: 50.0,
    image: "/images/zapatillas.jpg",
  },
  {
    name: "Zapatos Formales",
    description: "Elegancia y estilo para ocasiones especiales",
    price: 80.0,
    image: "/images/formales.jpg",
  },
  {
    name: "Sandalias de Verano",
    description: "Frescura y comodidad para los días soleados",
    price: 30.0,
    image: "/images/sandalias.jpg",
  },
];
---

<section id="products" class="products">
  <h2 tabindex="0">Nuestros Productos</h2>
  <div class="product-grid">
    {
      products.map((product) => (
        <div class="product-card">
          <img
            src={product.image}
            alt={`Imagen de ${product.name}`}
            tabindex="0"
          />
          <h3 tabindex="0">{product.name}</h3>
          <p tabindex="0">{product.description}</p>
          <p class="price" tabindex="0">
            ${product.price.toFixed(2)}
          </p>
        </div>
      ))
    }
  </div>

  <table class="product-table">
    <thead>
      <tr>
        <th tabindex="0">Nombre del Producto</th>
        <th tabindex="0">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td tabindex="0">Botas de Montaña</td>
        <td tabindex="0">$120.00</td>
      </tr>
      <tr>
        <td tabindex="0">Mocasines de Cuero</td>
        <td tabindex="0">$75.00</td>
      </tr>
      <tr>
        <td tabindex="0">Zapatillas de Casa</td>
        <td tabindex="0">$25.00</td>
      </tr>
      <tr>
        <td tabindex="0">Zapatos de Baile</td>
        <td tabindex="0">$90.00</td>
      </tr>
    </tbody>
  </table>
</section>
